{% extends "base.html" %}

{% block page_content %}
<ul class="oUlplay" data-double="">
    <li><a id="js-xryl" title="233网校老学员再购课8折优惠,新用户注册送5张优惠券，最高减￥350!" href="//wx.233.com/cuxiao/" target="_blank"><img width="580" height="280" src="https://img.233.com/www/img/index/2016/index580_2801.png"></a></li>
    <li><a href="http://www.233.com/jzs2/zhuanti/zhentijx2019/?ukey=sy" target="_blank" title="考后发布2019二级建造师真题答案"><img src="http://www.233.com/upload/image/2019/05/24/1656395528394.png" width="580" height="280"></a></li>
    <li><a href="http://www.233.com/chuji/chengji/?ukey=sy" title="2019年初级会计成绩查询"  target="_blank"><img src="/upload/image/2019/05/21/1842004647016.jpg" width="580" height="280"></a></li>
    <li><a href="http://www.233.com/teacher/chengji/?ukey=sy" title="2019年教师资格证面试成绩查询时间" target="_blank"><img src="http://www.233.com/NewsFiles/WapZtZiliao/image/20190520/580-280-1colour3.jpg" width="580" height="280"></a></li>
    <li><a href="http://www.233.com/jzs1/zhuanti/2019jiaocai/" title="2019年一级建造师考试教材"  target="_blank"><img src="http://www.233.com/upload/image/2019/05/14/1011433637098.jpg" width="580" height="280"></a></li>
    <li><a href="http://www.233.com/cfe/zhuanti/2019zb/?ukey=sy" target="_blank" title="2019一级消防工程师思维导图直播课"><img src="http://www.233.com/upload/image/2019/04/19/1207426281507.jpg" width="580" height="280"></a></li>
    <li><a href="http://www.233.com/chuji/zhuanti/2019zhenti/?ukey=sy" target="_blank" title="2019年初级会计真题及答案解析"><img src="/upload/image/2019/04/25/2014289949705.png" width="580" height="280"></a></li>
</ul>

{% endblock %}