{% extends "base.html" %}

{% block page_content %}
        <!--高频速递-->
    <section>
    <div class="banner-bottom">
    <h3 class="text-left"><span class="glyphicon glyphicon-flag" style="color: rgb(31, 171, 217); font-size: 26px;">&nbsp;考点速递</span></h3>
                <br>
        <div class="row">
        <div class="col-md-4">
        <div class="thumbnail">
        <img src="/static/images/g9.jpg" alt="hello">
        <div class="caption">
        <h3>专项讲解 | 计算题</h3>
        <p>6月考生必看的4类计算题，你可能离及格可能就差这几分！</p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzA4OTA1NTU4NQ==&mid=2651216741&idx=1&sn=3478ecb5376d528562d6d082fed27667&chksm=8bd2336bbca5ba7d2d997e4068397d345d9e3cf06b4f700292bdcb9c8bd7acf37a5e4832a912&mpshare=1&scene=23&srcid=#rd" target="_blank" class="btn btn-primary" role="button">查看</a> <a href="#" class="btn btn-default" role="button">喜欢</a></p>
            <p><br></p>
      </div>
    </div>
  </div>
       <div class="col-md-4">
        <div class="thumbnail">
        <img src="/static/images/g1.jpg" alt="hello">
        <div class="caption">
        <h3>高频考点 |《证券市场基本法律法规》</h3>
        <p>今日打卡:<BR>证券公司分类监管（第二章第一节）</p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzA4OTA1NTU4NQ==&mid=2651216733&idx=3&sn=5ab933237f2b422df2c0ab6322e541aa&chksm=8bd23353bca5ba459687c6de8cd3b1cb26d8af197cf0d0fbdc66222988ac5d3ecfb99c7bd19d&mpshare=1&scene=23&srcid=#rd" target="_blank" class="btn btn-primary" role="button">查看</a> <a href="#" class="btn btn-default" role="button">喜欢</a></p>
      </div>
    </div>
  </div>
     <div class="col-md-4">
        <div class="thumbnail">
        <img src="/static/images/g13.jpg" alt="hello">
        <div class="caption">
        <h3>高频考点 |《金融市场基础知识》</h3>
        <p>今日打卡： <br>证券交易概述（第四章第三节）</p>
        <p><a href="http://mp.weixin.qq.com/s?__biz=MzA4OTA1NTU4NQ==&mid=2651216736&idx=3&sn=07ce510571d71363c241ba013c1e8ba9&chksm=8bd2336ebca5ba7896448d92044364e2ff6d3c489aa1a3e7c3da70ee5ab2af281a81e9fa541b&mpshare=1&scene=23&srcid=#rd
" target="_blank" class="btn btn-primary" role="button">查看</a> <a href="#" class="btn btn-default" role="button">喜欢</a></p>
      </div>
    </div>
  </div>
    </div>
    </div>
    </section>
    <!-- 分页 -->
    <div class="pager-bg text-center">
			<ul class="pagination pagination-sm">
				<li>
					<a href="/knowledge">1</a>
				</li>
				<li class="active">
                    <a data-ci-pagination-page="2">2</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="3">3</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="4">...</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="2" rel="next">下一页</a>
				</li>
				<li>
					<a href="/movie/?page=2222" data-ci-pagination-page="2222">末页</a>
				</li>
			</ul>
		</div>
    <!--看电影-->
    <section>
     <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
$(function () {
	$("[data-toggle='popover']").popover();
});
</script>
    <div class="banner-bottom">

    <h3 class="text-left"><span class="glyphicon glyphicon-headphones" style="color: rgb(31, 171, 217); font-size: 26px;">&nbsp;在线课程</span></h3>
                <br>
		<div class="row">
             <div class="col-md-4">
        <div class="thumbnail">
        <img src="/static/images/thumb/blog-item_01.jpg" alt="hello">
        <div class="caption">
        <h3>看一个小视频吧！</h3>
        <p>很简单</p>
        <p><a href="/static/videos/0.mp4" target="_blank" class="btn btn-primary" role="button">好哒</a><button type="button" class="btn btn-default" title="好吧" data-container="body" data-toggle="popover" data-placement="top" data-content="这个按钮没有用">不好
	</button></p>
            <p><br></p>
      </div>
    </div>
  </div>
            <div class="col-md-4">
        <div class="thumbnail">
        <img src="/static/images/thumb/blog-item_02.jpg" alt="hello">
        <div class="caption">
        <h3>看一个小视频吧！</h3>
        <p>很简单</p>
        <p><a href="/static/videos/0.mp4" target="_blank" class="btn btn-primary" role="button">好哒</a> <a href="#" class="btn btn-default" role="button">不好</a></p>
            <p><br></p>
      </div>
    </div>
  </div>
            <div class="col-md-4">
        <div class="thumbnail">
        <img src="/static/images/thumb/blog-item_03.jpg" alt="hello">
        <div class="caption">
        <h3>看一个小视频吧！</h3>
        <p>很简单</p>
        <p><a href="/static/videos/0.mp4" target="_blank" class="btn btn-primary" role="button">好哒</a> <a href="#" class="btn btn-default" role="button">不好</a></p>
            <p><br></p>
      </div>
    </div>
  </div>
			</div>
    </div>
    </section>
    <!-- 分页 -->
    <div class="pager-bg text-center">
			<ul class="pagination pagination-sm">
				<li class="active">
					<a>1</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="2">2</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="3">3</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="4">...</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="2" rel="next">下一页</a>
				</li>
				<li>
					<a href="/movie/?page=2222" data-ci-pagination-page="2222">末页</a>
				</li>
			</ul>
		</div>
	</div>
    <!---下载专区-->
    <section>
    <div class="container">
    <h3 class="text-left"><span class="glyphicon glyphicon-download-alt" style="color: rgb(31, 171, 217); font-size: 26px;">&nbsp;下载专区</span></h3>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
        <img src="/static/images/file1.jpg" alt="hello">
        <div class="caption">
        <h3>《金融市场基础知识》考试大纲</h3>
        <div class="text-center"><a href="/static/resources/1.doc" download="《金融市场基础知识》考试大纲.doc" role="button" class="btn btn-primary">点击下载</a></div>
         <p><br></p>
      </div>
    </div>
  </div>
      <div class="col-md-4">
        <div class="thumbnail">
        <img src="/static/images/file4.jpg" alt="hello">
        <div class="caption">
        <h3>《证券市场基本法律法规》考试大纲</h3>
        <div class="text-center"><a href="/static/resources/2.doc" download="《证券市场基本法律法规》考试大纲.doc" role="button" class="btn btn-primary">点击下载</a></div>
         <p><br></p>
      </div>
    </div>
  </div>
    <div class="col-md-4">
        <div class="thumbnail">
        <img src="/static/images/file2.jpg" alt="hello">
        <div class="caption">
        <h3>证券从业资格证各题型解题思路和答题技巧</h3>
        <div class="text-center"><a href="/static/resources/3.doc" download="证券从业资格证各题型解题思路和答题技巧.doc" role="button" class="btn btn-primary">点击下载</a></div>
         <p><br></p>
      </div>
    </div>
  </div>
    </div>
    </div>
    </section>
     <!-- 分页 -->
    <div class="pager-bg text-center">
			<ul class="pagination pagination-sm">
				<li class="active">
					<a>1</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="2">2</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="3">3</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="4">...</a>
				</li>
				<li>
					<a href="/movie/?page=2" data-ci-pagination-page="2" rel="next">下一页</a>
				</li>
				<li>
					<a href="/movie/?page=2222" data-ci-pagination-page="2222">末页</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}